#sidebar {
  --tw-translate-x: -100%;
}
#menu-close-icon {
  display: none;
}

#menu-open:checked ~ * #mobile-menu-button {
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
#menu-open:checked ~ * #menu-open-icon {
  display: none;
}
#menu-open:checked ~ * #menu-close-icon {
  display: block;
}
#menu-open:checked ~ #sidebar {
  --tw-translate-x: 0;
  display: none;
}

@media (min-width: 340px) {
  #sidebar {
    --tw-translate-x: 0;
  }
}
